
.jumbotron {
    padding: 4px;
    height: 200px;
    background: rgba(17, 35, 224, 0.568);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, #106cfc 100%);
    background: -o-linear-gradient(top 0deg, rgba(255,255,255,1) 0%, #106cfc 100%);
    background: -webkit-linear-gradient(top 0deg, rgba(255,255,255,1) 0%, #106cfc 100%);
    background: -moz-linear-gradient(top 0deg, rgba(255,255,255,1) 0%, #106cfc 100%);

}
nav {
    padding: 10px;
}
header > div > h1{
    margin-top: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50px; 
}

.footer {
    height: 100%;
    padding: 10px 10px 0 10px;
    background: linear-gradient(0deg, #106cfc 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top 0deg, #106cfc 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top 0deg, #106cfc 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top 0deg, #106cfc 0%, rgba(255,255,255,1) 100%);
    margin-bottom: 0px;
    color: rgb(37, 37, 37);
    letter-spacing:3px;
    margin-top: 20px;
}

footer a {
    color: black;
    display: block;
    margin-left: 2px;
    margin-top: 2px;
    text-decoration: none;
    
}
address{
    margin-top: 2px;
    font-size: 110%;
    font-family: 'Courier New', Courier, monospace;
}


.cartaHotel{
    margin-top: 15px;
    flex: 1 150px; /*Esto lo que hace es. El primer valor que ponemos es de cuanto queremos que se agrande o se achique el elemento (al ponerle 1 es como poner lo normal del elemento, Si ponemos 2, crece el doble). Y en el segundo cuanto de ancho*/
    padding: 2px 5px 2px 5px;
}

.reserva {
    width: 100%;

}

article{
    font-size: 80%;
    text-align: right;
}

.footer-iconos{
    padding-right: 10px;
}